{% extends "templates/web.html" %}
{% set airplane = frappe.get_doc('Airplane', doc.airplane) %}
{% set airline = frappe.get_doc('Airline', airplane.airline) %}

{% block page_content %}
<h1>{{ title }}</h1>

<h2>Flight Details</h2>

<ul>
    <li>Airline: {{ airline.name }}</li>
    <li>{{ doc.source_airport_code }} &rarr; {{ doc.destination_airport_code }}</li>
    <li>{{ doc.date_of_departure }} | {{ doc.time_of_departure }}</li>
	<li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li>
</ul>


<a class="btn btn-info" href="/book-a-flight/new?flight={{doc.name}}&flight_price=500">Book a Flight</a>

{% endblock %}

<!-- this is a sample default web page template -->